body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(209, 204, 204);
}
.container{
    margin: 200px 0px 0px 500px;
    display: flex;
    background: linear-gradient(to right, silver , grey);
    height: 300px;
    width: 500px;
    border-radius: 0px 20px 0px 0px;
    box-shadow: 0px 0px 90px grey;
    border: 10px solid silver;
}
.inputs{
    display: grid;
    margin: -30px 0px 0px 90px;
    gap: 18px;
}
h1{
    margin: 40px 0px 20px 0px;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: default;
}
#name{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
}
#email{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
}
#password{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
}
#name:hover{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    transition: ease 1s;
}
#email:hover{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    transition: ease 1s;
}
#password:hover{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 0px 15px 0px 0px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    transition: ease 0.5s;
}
button{
    margin: 20px 0px 0px 210px;
    height: 35px;
    width: 65px;
    border-radius: 0px 15px 0px 0px;
    background-color: silver;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 100px black;
    outline: none;
    border: none;
}
button:hover{
    border: 2px solid black;
    background-color: grey;
}